{#
 # home page template
 #}

{% extends "layouts/_basiclayout" %}

{# For easy to read code, contentBuilder already was named as a variable, so the functions are cb #}
{% import "functions/_contentBuilder" as cb %}

{# We are using a custom header for this page#}
{% block header %}
    {% set headerAsset = globalVariables.defaultHeaderImg.first() %}

    {% if entry.headerImage is defined %}
        {% if entry.headerImage.first() %}
            {% set headerAsset = entry.headerImage.first() %}
        {% endif %}
    {% endif %}
        
    <div id="header" class="header-homepage">
        {% if entry.headerContent != "" %}
            <div class="header-content">
                <div class="jumbotron"> {{ entry.headerContent }} </div>
            </div>
        {% endif %}
        <div class="header-img" style="background: url({{ headerAsset.url }});"></div> 
    </div>
{% endblock %}

{% block content %}
	<div class="minecraft-status"> 
		{% for serverEntry in entry.serverList %}
			{% set query = serverEntry.server.Query() %}
			<div class="srv">
				<p>
					{{ serverEntry.server.serverName }}
					{% if query | length %}
						{% if query.max_players <= 0 %}
							<span class="label label-warning">starting</span>
						{% else %}
							<span class="label label-success">online</span>
						{% endif %}
					{% else %}
						<span class="label label-danger">offline</span>
					{% endif %}
				</p>
				<p>
					{% if query | length %}
						{% if query.max_players <= 0 %}
							Will be up soon...
						{% else %}
							{{ query.players }}/{{ query.max_players }} Online
						{% endif %}
					{% else %}
						Uh oh, Server Down!
					{% endif %}
				</p>
			</div>
		{% endfor %}
	</div>
	<div class="content">
		{% for block in entry.contentBuilder %}
			{{ cb.buildContent(block) }}
		{% endfor %}
		<hr class="separator"/>
		<h2 class="text-header">Latest News</h2>
		<hr class="separator"/>

		{% set newsEntries = craft.entries.section('news').limit(3)%}
		<div class="row latest-news">
			{% for nEntry in newsEntries %}
				<div class="col-sm-4">
					<div class="" style="padding: 10px;">
						<a href="{{ nEntry.url }}"><h4>{{ nEntry.title }}</h4></a>
						<h4><small>Posted on 11/1/2016 by {{ nEntry.author }}</small></h4>
					</div>		
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
