{% macro generateArticleListHTML(entries) %}
	{% for entry in entries %}
		<article class="news-article">
			<img class="featured-image" src="{{ entry.featuredImage.first().url }}"/> 
			<h2><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
			<h3 style="margin-top: -10px;"><small>Posted on {{ entry.postDate.format('F d, Y') }} by {{ entry.author }}</small></h3>
	   		<br/>
            {{ entry.body.getPage(1) }}
			<p><a href="{{ entry.url }}">Continue reading</a></p>
		</article>
		<hr/>
	{% endfor %}
{% endmacro %}